{% extends 'base.html' %}

{% block content %}
    <h1>Привет, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post_tx.label }}<br>
                {{ form.post_tx(cols=40, rows=4) }}<br>
                {% for error in form.post_tx.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if next_url %}
        <a href="{{ next_url }}">Старые посты</a>
    {% endif %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Новые посты</a>
    {% endif %}
{% endblock %}
