{% extends 'base.html' %}

{% block content %}
    <h1>Привет, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post_tx.label }}<br>
                {{ form.post_tx(cols=40, rows=4) }}<br>
                {% for error in form.post_tx.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
<!--    {% for post in posts %}-->
<!--        {% if post["gender"] == "M" %}-->
<!--            <div><p>{{ post.author.username }} написал: <b>{{ post.body }}</b></p></div>-->
<!--        {% else %}-->
<!--            <div><p>{{ post.author.username }} написала: <b>{{ post.body }}</b></p></div>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
{% endblock %}
